@import "../../static/styles/global-variables.scss";

/*================================================
apply CSS
=================================================*/

.apply-header-head {
    // background-image: url('../images/suggest-images/suggeset-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    // height: 80vh;
    padding: 8% 0%;
}
.apply-title-container {
    background-image: $orange-gradient;
    padding: 20px 0px;
    border-radius: 25px;

    .apply-title {
        text-align: center;

        h1 {
            color: $white-color;
        }
    }
}

.applyion-banner {
    position: relative;
    z-index: 1;
    padding: 10% 3% 0% 3%;
}

.title-align {
    margin-bottom: 0px;
    padding: 20px 0px;
}