@import "../../static/styles/global-variables.scss";

.signin-title {
    color: $white-color;
    font-weight: 900;
}

.register-container {
    max-width: 100%;
}

.contact-form_group {
    text-align: center;
    margin-bottom: $margin - 4;
  
    &-error {
      margin-bottom: $margin_sm + 2;
      color: $error;
      font-size: $size-small;
    }
}

.fb-login {
    background: $white-color;
    color: $light-blue-color;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    height: 55px;
    padding: 0 20px;
    position: relative;
    top: -3px;
    cursor: pointer;
    outline: 0;
    -webkit-transition: $transition;
    transition: $transition;
    width: 70%;

    &:hover, &:focus {
        background-color: $light-blue-color;
        color: $white-color;
    }
}

.divider-row {
    margin: 20px 0px;
    .divider {
        color: $white-color;
    }
}

.registration-form-preferences {
    text-align: center;
    padding: 3% 3%;
    background-color: #ffffff;
    border-radius: 15px;
    border: 5px solid $light-green;
    .row {
        text-align: center;
    }
    input {
        text-align: center;
        border: 3px solid $light-blue-color;
        border-radius: 20px;
        background: $white-color;
        height: 60px;
        padding: 15px;
        outline: 0;
        font-size: 20px;
        width: 100%;
        color: $paragraph-color;
    }
    .custom-chekbox {
        border: 2px solid $orange-color;
    }

    select {
        text-align: center;
        border: 3px solid $light-blue-color;
        border-radius: 20px;
        background: $white-color;
        height: 60px;
        padding: 15px;
        outline: 0;
        font-size: 20px;
        width: 100%;
        color: $paragraph-color;
    }
    textarea {
        text-align: center;
        border: 3px solid $light-blue-color;
        border-radius: 20px;
        background: $white-color;
        height: 155px;
        padding: 35px 60px;
        outline: 0;
        font-size: 20px;
        width: 100%;
        color: $paragraph-color;
    }

    button {
        background: $orange-gradient;
        color: $white-color;
        font-size: 20px;
        border: none;
        border-radius: 20px;
        height: 55px;
        padding: 0 20px;
        position: relative;
        top: -3px;
        cursor: pointer;
        outline: 0;
        -webkit-transition: $transition;
        transition: $transition;
        width: 15%;
        float:right;

        &:hover, &:focus {
            background-color: $orange-color;
            color: $white-color;
        }
    }
}

.preference-buttons {
    background: $orange-gradient;
    color: $white-color;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    height: 55px;
    padding: 0 20px;
    position: relative;
    top: -3px;
    cursor: pointer;
    outline: 0;
    -webkit-transition: $transition;
    transition: $transition;
    width: 15%;
    float:right;
    margin-top: 20px;
    &:hover, &:focus {
        background-color: $orange-color;
        color: $white-color;
    }
}