$font-family: 'Arial-Rounded', sans-serif;
$light-blue-color: #276f8f;
$white-color: #ffffff;
$heading-color: #276f8f;
$paragraph-color: #276f8f;
$purple-color: #c679e3;
$orange-color: #fc9300;
$bg-color: #f7fafd;
$bg-color2: #f9f6f6;
$bg-color3: #f9fafb;
$bg-color4: #0f054b;
$hosting-main-color: #032b8d;
$gradient-color: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
$gradient-color2: linear-gradient(to right bottom, #1fa2ff, #00c0ff, #00d9f2, #53eedd, #a6ffcb);
$orange-gradient: linear-gradient(175deg, rgba(255,190,0,1) 0%, rgba(252,147,0,1) 100%); 
$transition: .5s;
$font-size: 14px;