// GRID
$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$wide-width: 1200px;
$large-width: 1600px;

@mixin mobile {
	@media (min-width: #{$mobile-width}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin wide {
	@media (min-width: #{$wide-width}) {
		@content;
	}
}

@mixin large {
	@media (min-width: #{$large-width}) {
		@content;
	}
}
